.tooltip-wrapper {
    position: relative;
    display: inline-block;
}

.tooltip {
    position: absolute;

    top: 102%;
    /*bottom: -15%;*/
    /*left: 60%;*/
    /*right: -60%;*/
    /*transform: translateX(-50%);*/
    /*margin-bottom: 4px;*/

    background: #ffffff;
    color: #1a1a1a;
    padding: 10px 14px;
    font-size: 13px;
    line-height: 1.4;
    max-width: 300px;
    z-index: 20;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    font-family: 'Georgia', serif;

    border: 1px solid #ddd;
    border-radius: 4px;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}